div {
    border: 3px solid black;
}

.title {
    width: 98.5%;
    background-color: lightgreen;
    height: 200px;
    margin-bottom: 20px;
    margin-top: 50px;
}

section {
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    gap: 30px;
}

.col {
    height: 200px;
    width: 32%;
}

img {
    width: 100%;
    height: inherit;
}

.col-left {
    background-color: orange;
    margin-left: 0;
}

.col-mid {
    background-color: lightcoral;
}

.col-right {
    background-color: lightsteelblue;
}