* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin-left: 10px;
}

div,
footer {
    display: inline-block;
    height: 100px;
}

.container {
    margin: 20px 0;
    width: 100%;
}

.left,
.right,
footer {
    border: 3px solid black;
}

.left {
    width: 35%;
    background-color: lightcoral;
    margin-right: 3%;
}

.right {
    width: 60%;
    background-color: lightsteelblue;
}

footer {
    width: 98.5%;
    background-color: lightyellow;
}