html,
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

nav,
footer {
    background-color: black;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#crown {
    margin: 5px;
    padding: 5px;
}

nav ul li a {
    display: inline-block;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
}

nav ul li a:hover {
    background-color: rgba(255, 255, 255, 0.445);
}

footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
}

footer ul li {
    display: inline-block;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: small;
}

section ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

section ul li {
    display: flex;
    align-items: center;
    flex-direction: column;
    transition: all 1s;
    padding: 10px;
}

img {
    border-radius: 10px;
    border-color: white;
}

.item {
    text-align: center;
    font-weight: bold;
}

#discount {
    color: lightgreen;
}

#price {
    font-size: 0.75em;
    color: lightslategray;
    text-decoration: line-through;
}

.item button {
    background-color: white;
    padding: 10px;
    border: 2px solid lightgray;
    font-weight: bold;
    color: lightgray;
    border-radius: 5px;
}


section ul li {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icons {
    position: absolute;
    border-radius: 5px;
    padding: 5px;
    display: none;
    transform: scale(1.1);
}

.icons button {
    background-color: white;
    padding: 5px;
    border: 2px solid white;
    font-weight: bold;
    border-radius: 5px;
}

#eye,
#heart,
#minicart {
    color: #000000;
}

#eye:hover {
    color: white;
    background-color: rgb(43, 121, 97);
    border-color: rgb(43, 121, 97);
}

#heart:hover {
    color: white;
    background-color: rgb(43, 121, 97);
    border-color: rgb(43, 121, 97);
}

#minicart:hover {
    color: white;
    background-color: rgb(43, 121, 97);
    border-color: rgb(43, 121, 97);
}

#eye:active {
    color: white;
    background-color: rgb(26, 71, 57);
    border-color: rgb(26, 71, 57);
}

#heart:active {
    color: white;
    background-color: rgb(26, 71, 57);
    border-color: rgb(26, 71, 57);
}

#minicart:active {
    color: white;
    background-color: rgb(26, 71, 57);
    border-color: rgb(26, 71, 57);
}

li:hover {
    transform: scale(1.1);

    .icons {
        display: block;
    }

    #cart {
        background-color: rgb(43, 121, 97);
        border-color: rgb(43, 121, 97);
        color: white;
    }

    #cart:active {
        background-color: rgb(26, 71, 57);
        border: 2px solid rgb(26, 71, 57);
        color: white;
    }
}