body {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.top-container {
    background-color: rgb(234, 234, 234);
    display: flex;
    align-content: flex-start;
    justify-content: center;
    height: 30%;
    width: 100%;
    color: black;
    padding: 10px;
}

#title {}

.mid-container {
    background-image: url(https://img.goodfon.ru/original/2048x1365/1/45/voda-ryab-more.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 2000px;
    width: 100%;
}

.webtext-container {
    width: 200px;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;

}