body {
    padding-bottom: 20px;
}

.navbar {
    margin-bottom: 20px;
}

form {
    height: 35px;
    width: auto;
    display: flex;
    flex-flow: row nowrap;
}

form input {
    margin: 0 10px;
}

form button {
    margin: 0 10px;
    height: 35px;
    flex-flow: row nowrap;
}